.container {
  width: 250px;
  background-color: royalblue;
  display: flex;
  flex-wrap: wrap;
}

.container .item {
  width: 100px;
  height: 100px;
  border: 3px solid red;
  background-color: orange;
  
}