@charset "UTF-8";

header {
	x-border: 1px solid red;
}

.nav-a {
	font-size:1.5rem;
	margin-right:2rem;
}

.avatar {
	position:relative;
	display:inline-block;
}

.avatar img {
	width:100%;
	height:100%;
}

.avatar-xl {
	width:2.4rem;
	height:2.4rem;
}

footer {
	border: 1px solid blue;
	clear: left;
}

aside {
	x-border: 1px solid green;
	float: left;
	width: 120px;
	min-height: 300px; 
}

#content {
	border: 1px dashed yellow;
	margin-left: 130px; 
}

