@charset "UTF-8";

header {
  height: 100px;
}
header ul li a {
	text-align:center;
}

header ul .header-li {
	text-align:center;
}

footer {
  border: 1px solid blue;
  clear:both;
}

aside {
  border: 1px solid green;
  float:left;
  width:120px;
  min-height:300px;
}

#content {
  margin-left: 150px; 
}